body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #E8E8E8;
	background-image: url(../img/p6.png);
}

h1,h2,h3,h4,h5,h6{
	font-family: sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	display: block;
}

p{
	line-height: 150%;
}

#wrapper{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

main{
	padding: 0px;
	margin: 0px;
}

footer{
	color: #B9BBB0;
	font-size: 14px;
	text-align: center;
	width: 100%;
}

/* MessageSystem */

.message{
	display: block;
	border: 1px solid #5F6B89;
	background-color: #BAC0CF;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	color: #000000;
}

.message.messageError{
	border-color: #B02F0F;
	background-color: #FB6F6F;
}