@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato/Lato-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url(../fonts/Lobster/Lobster_1.3.otf);
	font-weight: normal;
}