body{
	background-color: #190C21;
	color: #FFFFFF;
	font-family: 'Lato';
}

/* INPUT STYLES */

input[type="button"],input[type="submit"],button{
	border: 0px;
	border-bottom: 2px solid #619b98;
	background-color: #72bdbb;
	color: #FFFFFF;
	font-family: 'Lato';
	height: 36px;
	padding: 1px 6px;
	letter-spacing: 1px;

	transition: background-color 0.2s;
}

input[type="button"]:hover,input[type="submit"]:hover,button:hover{
	background-color: #619b98;
	cursor: pointer;
}

form input:first-child{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

form input:last-child{
	/*border-radius: 0px;*/
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

form input, input{
	border: 1px solid #EDEDED;
	border-radius: 0px;
	padding: 8px;
	width: 100%;
	box-sizing: border-box;
}

input, button{
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

input:focus,button:focus{
	outline: none;
}

/* GENERAL STYLES */

h1{
	font-family: 'Lobster';
	letter-spacing: 1px;
	position: relative;
}
h1:before{
	content: '';
	border: 8px solid #FFFFFF;
	border-top: 8px solid #72BDBB;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: -12px;
	margin-right: 20px;
}
h1:after{
	content: 'Demo';
	font-family: 'Lato';
	font-size: 10px;
	color: #EB584A;
	text-transform: uppercase;
	position: absolute;
	bottom: -5px;
	right: -1px;
}

a{
	color: #4F819A;
}

/* NAVIGATION STYLES */

nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	display: block;
	padding: 10px 25px 10px 25px;
	background-color: #72BDBB;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 2px solid #619b98;

	transition: background-color 0.2s;
}

nav ul li a:hover{
	background-color: #619B98;
}

nav ul li a.active{
	background-color: #FFFFFF;
	border-bottom: 2px solid #EB584A;
	color: #221a26;
	font-weight: bold;
}

nav ul li:first-child a{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

nav ul li:last-child a{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* TABLE STYLES */

table:before{
	content: attr(data-pseudo-content);
	position: absolute;
	top: -40px;
	left: 0px;
	font-size: 150%;
	font-weight: bold;
}

table{
	width: 100%;
	border: none;
	border-collapse: collapse;
	position: relative;
}

table thead{
	background-color: #4F819A;
	font-weight: bold;
	text-align: center;
}

table td{
	border: 1px solid rgba(0,0,0,0.2);
}

table thead tr td{
	padding: 8px;
	border-top: 0px;
	cursor: pointer;
}

table thead tr td:hover{
	background-color: rgba(255,255,255,0.1);
}

table tr td:first-child{
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-left: none;
}

table tr td:last-child{
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	border-right: none;
}

table tbody tr td{
	padding: 5px;
}

table tbody tr{
	transition: background-color 0.1s;
}

table tbody tr:nth-child(2n){
	background-color: #724A7F;
}

table tbody tr:nth-child(2n+1){
	background-color: #5A3866;
}

table tbody tr:hover{
	/*background-color: #221A26;*/
}

/* TABLE ACTION-BUTTON STYLES */

table tbody tr td:last-child{
	width: 190px;
	text-align: center;
}

table tbody tr td:last-child a.fa{
	font-size: 15px;
	background-color: #EB584A;
	border-bottom: 2px solid #9b3934;
	color: #ffffff;
	width: 24px;
	text-align: center;
	border-radius: 5px;
	padding: 4px;
	cursor: pointer;

	transition: background-color 0.2s;
	margin-right: 5px;
}

table tbody tr td:last-child a.fa:last-child{
	margin-right: 0px;
}

table tbody tr td:last-child a.fa:hover{
	background-color: #9b3934;
}

/* OUTSIDE TABLE */

.tableActions{
	text-align: right;
}

/* WRAPPER STYLES */

#wrapper{
	width: 900px;
	margin-right: auto;
	margin-left: auto;
}

#wrapper.loginBox{
	width: 300px;
}

/* DATATABLE STYLES */

.dataTables_wrapper{
	margin-top: 18px;
}

.dataTables_filter{
	position: relative;
	text-align: right;
}

.dataTables_filter input{
	margin-bottom: 10px;
	width: 250px;
}

.dataTables_info{
	font-size: 10px;
	background-color: #4F819A;
	padding: 3px;
	border-radius: 2px;
	margin-bottom: 10px;
}

.dataTable{
	width: 100%;
}

/* DIALOG STYLES */

.ui-dialog{
	color: #221A26;
	border: 2px solid #EB584A;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 0 20px #000000;
	cursor: default;
}
.ui-dialog:focus{
	outline: none;
}

.ui-dialog-titlebar{
	padding: 8px;
	background-color: #EB584A;
	font-weight: bold;
	color: #ededed;
}

.ui-dialog-titlebar-close{
	position: absolute;
	right: 3px;
	top: 3px;
	padding: 5px;
	height: 28px;
}

.ui-dialog-content{
	padding: 8px;
	background-color: #ffffff;
}

.ui-dialog-buttonpane{
	background-color: #ededed;
	text-align: right;
	padding: 5px;
}

.ui-dialog-buttonpane button{
	border-radius: 5px;
	margin: 3px;
}